/*master styles*/
body {
  background-color: rgb(243, 245, 243);
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}
/*nav bar styles*/
.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 45px;
}

.left-justified {
  display: flex;
}

.navigation-link-wrapper {
  height: 26px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.navigation-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.navigation-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.navigation-link-wrapper a:hover {
  color: black;
}

.navigation-wrapper > .left-justified > div {
  margin-right: 20px;
  font-size: 0.8em;
  text-transform: uppercase;
}

/*portfolio styles*/
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-background-img {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
  font-size: xx-large;
  font-family: fantasy;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  font-weight: 600;
  color: transparent;
}
.img-text-wrapper:hover .subtitle {
  font-weight: 600;
  color: blanchedalmond;
}

.img-darken {
  transition: 1s;
  filter: brightness(10%);
}

/* About page */
.two-column-bio-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-img-wrapper img {
  margin-top: 2.5mm;
  width: 100%;
  height: 50%;
}

.written-bio-wrapper {
  padding: 30px;
}

.written-bio-wrapper h1 {
  color: cornflowerblue;
}

.profile-img-wrapper {
  background-color: blanchedalmond;
}

.written-bio-textbox {
  background-color: cornsilk;
  font-size: 20px;
  font-family: serif;
}

.bio-paragraph-two {
  margin-top: 1cm;
  margin-bottom: 1cm;
}

.about-header {
  text-align: center;
  font-size: xx-large;
  text-transform: uppercase;
}

.about-subheader {
  text-align: center;
  font-size: x-large;
  text-transform: uppercase;
}

.bgimg-1,
.bgimg-2 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("images/profile-2.JPEG");
  min-height: 500px;
}

.bgimg-2 {
  background-image: url("images/nepal-fog.jpeg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}
